<h2>My account</h2>

<div class="fos_user_user_show row">
    <div class="col-md-6">

        <h4>Personal details</h4>
        <p>
            {{ user.firstName }} {{ user.lastName }}<br>
            {{ user.email }}
        </p>
        <br>
        <a href="{{ path('fos_user_profile_edit') }}" class="btn btn-sm btn-primary">Edit profile</a>
        <a href="{{ path('fos_user_change_password') }}" class="btn btn-sm btn-primary">Change password</a>

        <br><br>

        <h4>My organisation</h4>
        {% if app.user.org %}
            <p>
                Name: {{ app.user.org.name }}<br>
            Website: {{ app.user.org.website }}<br>
            Email: {{ app.user.org.email }}<br>
            Lend: {{ app.user.org.lends }}
        </p>
            <a href="{{ path('org', {id: app.user.org.id}) }}" class="btn btn-primary">Edit organisation</a>
        {% else %}
            <a href="{{ path('org') }}" class="btn btn-primary">Add your organisation</a>
        {% endif %}

    </div>
    <div class="col-md-6">

    </div>
</div>
