{% if app.request.get('_route_params') and app.request.get('slug') %}
    {% set slug = app.request.get('_route_params').slug %}
{% else %}
    {% set slug = 'none' %}
{% endif %}
<ul class="nav navbar-nav navbar-right text-uppercase">
    <li>
        <a class="dropdown-toggle" id="features" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="{{ path('features', {slug: "items"}) }}">Features <span class="caret"></span></a>
        <ul class="dropdown-menu" aria-labelledby="features">
            <li><a href="{{ path('features', {slug: "loans"}) }}">Loans & rentals</a></li>
            <li><a href="{{ path('features', {slug: "items"}) }}">Item management</a></li>
            <li><a href="{{ path('features', {slug: "asset_management"}) }}">Asset tracking</a></li>
            <li><a href="{{ path('features', {slug: "automation"}) }}">Automation</a></li>
            <li><a href="{{ path('features', {slug: "barcode_tracking"}) }}">Barcodes & labels</a></li>
            <li><a href="{{ path('features', {slug: "members"}) }}">Memberships</a></li>
            <li><a href="{{ path('features', {slug: "payments"}) }}">Payments &amp; Fees</a></li>
            <li><a href="{{ path('features', {slug: "member_site"}) }}">Member site</a></li>
            <li><a href="{{ path('features', {slug: "sites"}) }}">Multi site & location</a></li>
            <li><a href="{{ path('features', {slug: "languages"}) }}">Languages</a></li>
        </ul>
    </li>
    {#<li>#}
        {#<a class="dropdown-toggle" id="features" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="">Our users <span class="caret"></span></a>#}
        {#<ul class="dropdown-menu" aria-labelledby="features">#}
            {#<li><a href="{{ path('electronics') }}">Audiovisual / Electronics</a></li>#}
            {#<li><a href="{{ path('education') }}">Education</a></li>#}
            {#<li><a href="{{ path('lot') }}">Library of things</a></li>#}
            {#<li><a href="{{ path('nappy_libraries') }}">Re-usable nappies</a></li>#}
            {#<li><a href="{{ path('slings') }}">Slings &amp; Baby carriers</a></li>#}
            {#<li><a href="{{ path('sports') }}">Sports equipment</a></li>#}
            {#<li><a href="{{ path('tool_libraries') }}">Tool libraries</a></li>#}
            {#<li><a href="{{ path('toy_libraries') }}">Toy libraries</a></li>#}
        {#</ul>#}
    {#</li>#}
    <li><a href="{{ path('page_pricing') }}">Pricing</a></li>
    <li><a href="{{ path('login') }}">Log in</a></li>
    <li><a href="{{ path('signup') }}" class="menu-signup">Sign up</a></li>
</ul>