<ul class="nav navbar-nav navbar-right text-uppercase">
    <li><a href="{{ path('directory') }}">DIRECTORY</a></li>
    <li><a href="{{ path('features', {slug: "items"}) }}">Features</a></li>
    <li><a href="{{ path('page_pricing') }}">Pricing</a></li>
    <li><a href="{{ path('login') }}">Log in</a></li>
    <li><a href="{{ path('signup') }}" class="menu-signup">Sign up</a></li>
</ul>