{% extends 'base.html.twig' %}

{% block title %}Pricing : The Lend Engine{% endblock %}

{% block hero %}
    <section id="title">
        <div class="container">
            <h1 style="text-align: center">
                <div style="font-size:16px; margin-bottom: 10px">From non-profit lending libraries to large rental businesses,</div>
                We have a pricing plan for everyone.
            </h1>
        </div>
    </section>
{% endblock %}

{% block h1 %}Pricing{% endblock %}

{% block body %}

    <style>
        tr.price-header td {
            font-weight: bold;
            padding-top: 20px;
            font-size: 24px;
        }
        tr.price-plans td {
            font-weight: bold;
            padding-top: 20px;
            font-size: 24px;
            border-top: 0;
        }
    </style>



    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div style="font-size: 22px; text-align: center">

                        <a href="{{ path('signup') }}" class="btn btn-success btn-signup">Get started with a free 30 day trial</a>
                        <br><br>

                        Your account will be set up with a <strong>30 day free trial of the Plus plan</strong>.<br>
                        <div style="font-size: 12px;text-align: center">Choose one of the plans below at any time during your trial.</div>
                        <br>
                    </div>

                    <div class="alert alert-warning" style="text-align: center">
                        Discounts available for non-profit organisations, charities and annual subscriptions. Just
                        <a href="{{ path('page_contact') }}">get in touch</a>.
                    </div>

                    <table cellspacing="0" cellpadding="0" class="table">
                        <tbody>
                        <tr class="price-plans">
                            <td></td>
                            <td style="width:130px">
                                Free
                            </td>
                            <td style="width:130px">
                                Starter
                                <div>£5 / $7.50 </div>
                                <div class="per-month">per month</div>
                            </td>
                            <td style="width:130px">
                                Plus
                                <div>£20 / $25</div>
                                <div class="per-month">per month</div>
                            </td>
                            <td style="width:130px">
                                Business
                                <div>£40 / $50</div>
                                <div class="per-month">per month</div>
                            </td>
                        </tr>
                        <tr>
                            <td>Unlimited team member logins to back-end (admin)</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Member website / portal for self serve access</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Track item location within sites (eg repair)</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Take credit card payments</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Number of items supported</td>
                            <td>Up to 100</td>
                            <td>Up to 500</td>
                            <td>Up to 2,000</td>
                            <td>Up to 10,000</td>
                        </tr>
                        <tr>
                            <td>Number of contacts supported</td>
                            <td>Up to 100</td>
                            <td>Up to 500</td>
                            <td>Up to 2,000</td>
                            <td>Up to 10,000</td>
                        </tr>
                        <tr>
                            <td>Library sites (different addresses)</td>
                            <td>1</td>
                            <td>1</td>
                            <td>10</td>
                            <td>30</td>
                        </tr>
                        <tr>
                            <td>Customise email content (eg loan reminders)</td>
                            <td>-</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>SSL secured admin and member portal</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Your own domain name (otherwise http://you.lend-engine-app.com}</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Automated data backups</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Full white label (custom branding)</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Manage volunteers, calendars and duty rota</td>
                            <td>-</td>
                            <td><a href="{{ path('page_contact') }}">Contact us</a></td>
                            <td><a href="{{ path('page_contact') }}">Contact us</a></td>
                            <td><a href="{{ path('page_contact') }}">Contact us</a></td>
                        </tr>
                        <tr>
                            <td>Manage events and workshops</td>
                            <td>-</td>
                            <td><a href="{{ path('page_contact') }}">Contact us</a></td>
                            <td><a href="{{ path('page_contact') }}">Contact us</a></td>
                            <td><a href="{{ path('page_contact') }}">Contact us</a></td>
                        </tr>

                        <tr class="price-header">
                            <td>Loans and reservations</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Online loan management software</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Unlimited loans per month</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Self serve loans via member website</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Reserve items for future dates</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Extend loans and charge fees for late returns</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Multiple items per loan, each with different return dates</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Automated loan reminders</td>
                            <td>-</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Refundable deposits</td>
                            <td>-</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>
                                Check out prompts for staff
                            </td>
                            <td>-</td>
                            <td>-</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Check in prompts for staff</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>

                        <tr>
                            <td>Sell consumables</td>
                            <td>-</td>
                            <td>-</td>
                            <td><a href="{{ path('page_contact') }}">Contact us</a></td>
                            <td><a href="{{ path('page_contact') }}">Contact us</a></td>
                        </tr>



                        <tr class="price-header">
                            <td>Contact management</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Online contact and member database</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>

                        <tr>
                            <td>Membership management software</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>

                        <tr>
                            <td>Integrated with Mailchimp for email newsletters</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Record child information (for toy libraries)</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Add notes and comments to track your relationship with members.
                            </td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>
                                Upload file attachments to customers and members.
                            </td>
                            <td>-</td>
                            <td>-</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Add custom fields to record extra data about your members.
                            </td>
                            <td>-</td>
                            <td>-</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Membership cards</td>
                            <td>-</td>
                            <td><a href="{{ path('page_contact') }}">Contact us</a></td>
                            <td><a href="{{ path('page_contact') }}">Contact us</a></td>
                            <td><a href="{{ path('page_contact') }}">Contact us</a></td>
                        </tr>
                        <tr>
                            <td>Assign customers to sites</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td><a href="{{ path('page_contact') }}">Contact us</a></td>
                        </tr>


                        <tr class="price-header">
                            <td>Item management / stock control</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Online item database available for all your team, anywhere.</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Override system fee or loan duration on a per-item basis</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Track your items' condition with custom options</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>See item history as things move between members and locations</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Add notes and comments to the item history</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Assign costs to items to track money spent on repairing and cleaning
                            </td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>
                                Upload files and attachments to items, such as instructions.
                            </td>
                            <td>-</td>
                            <td>-</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Add custom fields to record extra information about your items, toys or tools.
                            </td>
                            <td>-</td>
                            <td>-</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Barcode labels and scanning</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Kits and bundles of items</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td><a href="{{ path('page_contact') }}">Contact us</a></td>
                        </tr>


                        <tr class="price-header">
                            <td>Member website</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Members can browse items and see item availability</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Register for new memberships, paid by credit card if required</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Members with credit can reserve items online</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Add credit / view payment history</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>

                        <tr>
                            <td>Waiting list for items currently unavailable</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Automated email when item becomes available</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Choose language for member site</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Member personal choice of language</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Customise look and feel with CSS</td>
                            <td>-</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Require log in for access (private site)</td>
                            <td>-</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Custom pages and menus</td>
                            <td>-</td>
                            <td>Yes</td>
                            <td>Yes</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Choice of website themes</td>
                            <td>-</td>
                            <td>-</td>
                            <td>-</td>
                            <td>Yes</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>

    <section id="divider" style="margin-top: -50px;">
        <div class="container">
            <a href="{{ path('signup') }}" class="btn btn-success btn-signup">Sounds great! Create my account now.</a>
        </div>
    </section>

    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p style="text-align: center">
                    </p>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
