<div class="row">
    <div class="col-md-12">

        <h1>Add your organisation</h1>

        <form action="{{ path('fos_user_registration_register') }}" method="POST" class="fos_user_registration_register">

            {{ form_start(form) }}
            {{ form_errors(form) }}

            <div class="row">

                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6">{{ form_row(form.firstName) }}</div>
                        <div class="col-md-6">{{ form_row(form.lastName) }}</div>
                    </div>
                    {{ form_row(form.email) }}
                    {{ form_row(form.plainPassword) }}
                    <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary btn-block btn-flat pull-right" />
                </div>

                <div class="col-md-6">
                    <p>
                        <strong>Step 1 : Register as an organisation manager</strong>
                        <br>Fill out this form, and we'll send you a confirmation email.
                        <br>Once you've verified your details, you can add your organisation.
                    </p>
                    <p style="color:#ccc">
                        <strong>Step 2 : Add an organisation</strong>
                        <br>From the 'My account' screen, add your organisation details.
                    </p>
                    <p style="color:#ccc">
                        <strong>Step 3 : Add sites</strong>
                        <br>Finally, add as many sites (addresses) as you need for your organisation.
                    </p>
                </div>

            </div>

            {{ form_end(form) }}

        </form>
    </div>
</div>

{% block pagejs %}{% endblock %}


