{% extends 'base.html.twig' %}

{% block title %}Introduction{% endblock %}

{% block body %}

<section id="feature-heading">
    <div class="container">
        <h2>Features &raquo; {% block breadcrumb %}{% endblock %}</h2>
    </div>
</section>

{% if app.request.get('_route_params') %}
    {% set slug = app.request.get('_route_params').slug %}
{% else %}
    {% set slug = 'none' %}
{% endif %}

<section id="feature1">
    <div class="container">
        <div class="row" style="text-align:left">
            <div class="col-md-3" style="padding-top:40px;">
                <ul class="nav nav-pills nav-stacked" id="docs-nav">
                    <li><a href="{{ path('features', {slug: "loan-management-software"}) }}" class="{% if slug == 'loan-management-software' %}active{% endif %}">Loans & rentals</a></li>
                    <li><a href="{{ path('features', {slug: "equipment-tracking-software"}) }}" class="{% if slug == 'equipment-tracking-software' %}active{% endif %}">Item management</a></li>
                    <li><a href="{{ path('features', {slug: "consumables-and-stock-items"}) }}" class="{% if slug == 'consumables-and-stock-items' %}active{% endif %}">Sell consumables</a></li>
                    <li><a href="{{ path('features', {slug: "asset-tracking-software"}) }}" class="{% if slug == 'asset-tracking-software' %}active{% endif %}">Asset tracking</a></li>
                    <li><a href="{{ path('features', {slug: "automation"}) }}" class="{% if slug == 'automation' %}active{% endif %}">Automation</a></li>
                    <li><a href="{{ path('features', {slug: "barcode-tracking"}) }}" class="{% if slug == 'barcode-tracking' %}active{% endif %}">Barcodes & labels</a></li>
                    <li><a href="{{ path('features', {slug: "member-management-software"}) }}" class="{% if slug == 'member-management-software' %}active{% endif %}">Memberships</a></li>
                    <li><a href="{{ path('features', {slug: "payment-tracking-for-lending-libraries"}) }}" class="{% if slug == 'payment-tracking-for-lending-libraries' %}active{% endif %}">Payments &amp; Fees</a></li>
                    <li><a href="{{ path('features', {slug: "self-serve-lending-library-platform"}) }}" class="{% if slug == 'self-serve-lending-library-platform' %}active{% endif %}">Member site</a></li>
                    <li><a href="{{ path('features', {slug: "event-management-software"}) }}" class="{% if slug == 'event-management-software' %}active{% endif %}">Event mananagement</a></li>
                    <li><a href="{{ path('features', {slug: "sites"}) }}" class="{% if slug == 'sites' %}active{% endif %}">Multi site & location</a></li>
                    <li><a href="{{ path('features', {slug: "maintenance-and-servicing"}) }}" class="{% if slug == 'maintenance-and-servicing' %}active{% endif %}">Service & maintenance</a></li>
                    <li><a href="{{ path('features', {slug: "event-booking-software"}) }}" class="{% if slug == 'events' %}active{% endif %}">Events & workshops</a></li>
                    <li><a href="{{ path('features', {slug: "languages"}) }}" class="{% if slug == 'languages' %}active{% endif %}">Language &amp; Currency</a></li>
                </ul>
            </div>
            <div class="col-md-9" id="docs-content">
                {% block featureContent %}content here{% endblock %}
            </div>
        </div>
    </div>
</section>
{% endblock %}