{% extends 'directory.html.twig' %}

{% block title %}A directory of lending organisations{% endblock %}

{% block head %}

    <style>
        .site {
            padding: 10px 0;
            margin-bottom: 10px;
            clear: left;
        }
        .site-name {
            font-weight: bold;
        }
        .site-website a {
            font-size: 12px;
        }
        .site-email {
            font-size: 12px;
        }
        .site-address {
            font-size: 11px;
            color: #aaa;
        }
        .site-labels {
            padding: 4px 0;
        }
        .site-labels .label {
            margin-right: 6px;
            margin-bottom: 2px;
            background-color: #97aab5;
        }
        .site-distance {
            clear:left;
            display: block;
        }
        #filter-tags .filter-tag {
            font-weight: normal;
            margin-right: 6px;
        }
        #directory_search_tags {
            padding-bottom: 10px;
        }
        #directory_search_tags div.checkbox {
            display: inline; margin-right: 15px;
        }
        #directory_search_tags div.checkbox input {
            position: relative;
        }
    </style>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgbkO6VOtnvsh1aqEExrv6HSQzSDsO2Ik"></script>
    <script type="text/javascript">
        var geocoder = new google.maps.Geocoder();
        var map;

        function loadMap() {
            var _position = {lat: 52.083703, lng: -4.660864};
            var mapOptions = {
                zoom: 6,
                center: _position
            };
            var markers = [];

            map = new google.maps.Map(document.getElementById('map'), mapOptions);

            {% for site in sites %}
            {% if site.latitude and site.latitude %}
                marker = addMarker(map, "{{ site.org.name }}", "{{ site.org.website }}", "{{ site.org.email }}", "{{ site.address }}", {{ site.latitude }}, {{ site.longitude }});
                markers.push(marker);
            {% endif %}
            {% endfor %}

            var bounds = new google.maps.LatLngBounds();
            for (var i = 0; i < markers.length; i++) {
                bounds.extend(markers[i].getPosition());
            }

            map.fitBounds(bounds);
        }

        function addMarker(map, name, website, email, address, lat, long) {
            var marker;
            var position = {lat: lat, lng: long};

            var contentString = '<h4 id="firstHeading" class="firstHeading">'+name+'</h4>'+
            '<div id="bodyContent">'+address+'<br>'+
            ''+email+'<br> '+
            '<a style="font-size: 12px" href="'+website+'" target="_blank">'+website+'<br> '+
            '</div>';

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: name
            });

            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });

            return marker;
        }

        window.onload = function() {
            loadMap();
        }
    </script>
{% endblock %}

{% block hero %}
    <section id="title">
        <div class="container">
            <h1>Find a lending library near you</h1>

            <div id="geolocateWarning" class="alert alert-danger" style="display:none">
                Please allow Lend Engine access to your location so we can show relevant results. <br>
                You may need to revisit your browser settings to re-enable location access for www.lend-engine.com
            </div>

            {{ form_start(form) }}
            {{ form_errors(form) }}

            {% if help is defined %}
                <span class="help">{{ help }}</span>
            {% endif %}

            <div class="row">
                <div class="col-md-12" id="filter-tags">
                    {{ form_widget(form.tags) }}
                </div>
            </div>

            <div class="row">
                <div class="col-xs-4">
                    {{ form_widget(form.search) }}
                </div>
                <div class="col-xs-4">
                    {{ form_widget(form.distance) }}
                </div>
                <div class="col-xs-4">
                    <button class="btn btn-success" type="submit">Search</button>
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}

{% block body %}
    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <style type="text/css">
                        #map
                        {
                            height:450px;
                            width:100%;
                            display:block;
                        }
                    </style>
                    <div id="map"></div>

                    <div>
                        <br>
                        <h3>Get involved ...</h3>
                        <p>You can help build the lending economy. Don't buy, borrow!</p>
                        <p>
                            If you know a library of things near you that's not on the list, please <a href="{{ path('page_contact') }}">get in touch</a> and we'll add it.
                            <br>SHARE the directory on your social channels. The more people that know, the better.
                        </p>
                    </div>
                </div>
                <div class="col-md-3">
                    {% for site in sites %}
                        <div class="site">
                            <div class="site-name">{{ site.org.name }}</div>
                            <div class="site-website"><a href="{{ site.org.website }}" target="_blank">{{ site.org.website }}</a></div>
                            <div class="site-email">{{ site.org.email }}</div>
                            <div class="site-address">{{ site.address }}, {{ site.country }}</div>
                            <div class="site-labels">
                                {% for tag in site.tags %}
                                    <span class="label label-success">{{ tag.name }}</span>
                                {% endfor %}
                            </div>
                            {% if site.distance %}
                                {#<div class="site-distance">{{ site.distance }} miles</div>#}
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block pagescripts %}
    <script>
        $(document).ready(function(){
            if (!$("#directory_search_latitude").val()) {
                getLocation();
            }
        });
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition,geoLocateError);
            }
        }
        function geoLocateError() {
            $("#geolocateWarning").show();
        }
        function showPosition(position) {
            if (!$("#directory_search_latitude").val()) {
                $("#directory_search_latitude").val(position.coords.latitude);
                $("#directory_search_longitude").val(position.coords.longitude);
                $('form[name="directory_search"]').submit();
            }
        }
    </script>
{% endblock %}
