{% extends 'base.html.twig' %}

{% block title %}A directory of lending organisations{% endblock %}

{% block head %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDgbkO6VOtnvsh1aqEExrv6HSQzSDsO2Ik"></script>
    <script type="text/javascript">

        function loadMap() {

            var geocoder = new google.maps.Geocoder();
            var map;

            var contentString = '<h4 id="firstHeading" class="firstHeading">Library Of Things, London</h4>'+
                    '<div id="bodyContent">'+
                    '<p><b>This</b> is a toy library</p>'+
                    '<p><a href="https://borrowing.libraryofthings.co.uk" target="_blank">'+
                    'https://borrowing.libraryofthings.co.uk</a> '+
                    '</p>'+
                    '</div>';

            geocoder.geocode({'address': '{{ map_home }}'}, function(results, status)
            {
                if (status == google.maps.GeocoderStatus.OK) {

                    var _position = { lat: results[0].geometry.location.lat(), lng: results[0].geometry.location.lng()};
                    var mapOptions = {
                        zoom: {{ map_zoom }},
                        center: _position
                    };
                    map = new google.maps.Map(document.getElementById('map'), mapOptions);

                    addMarker(map, 51.440109, -0.09, "title here", contentString);

                    {#{% for location in libraries %}#}
                    {#addMarker(map, {{ location.lat }}, {{ location.lng }});#}
                    {#{% endfor %}#}
                } else {
                    console.log(status);
                }
            });
        }

        function addMarker(map, lat, long, title, contentString) {
            var marker;
            var position = {lat: lat, lng: long};
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });

            marker = new google.maps.Marker({
                position: position,
                map: map,
                title: title
            });

            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
        }

        window.onload = function() {
            loadMap();
        }
    </script>
{% endblock %}

{% block body %}

    <section id="title" style="padding-top:60px; padding-bottom: 20px;">
        <div class="container">
            <h1>Find a lending library near you</h1>
            <div class="row">
                <form method="GET">
                    <div class="col-xs-4">
                        <input name="locate" class="form-control" type="text" placeholder="Enter postcode / zipcode" value="{{ app.request.get('locate') }}">
                    </div>
                    <div class="col-xs-4">
                        <button class="btn btn-success" type="submit">Go</button>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <section id="feature1">
        <div class="container">
            <div class="row">
                <div class="col-md-12">


                    <style type="text/css">
                        #map
                        {
                            height:450px;
                            width:100%;
                            display:block;
                        }
                    </style>
                    <div id="map"></div>


                </div>
            </div>
        </div>
    </section>

{% endblock %}
